/* GENERAL */

@import "../style.css";

@import "elements_compatibility.less";
@background: #141444;
@bleu_clair : #7BF6FF;
@bleu_nuit : #222143;
@vert_bleu : #67F4DC;
@violet_clair: #B5B3FF;
@rose : #BD59E6;
@header_color: #1C1C59;


/* Désactive les highights orange sur les supports natifs */
* {
	/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/ /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;  /*i.e. Nexus5/Chrome and Kindle Fire HD 7'' */
	-webkit-overflow-scrolling: touch; 
}

@font-face{

	font-family: 'Andarilho Font';
	//src: url('../../font/andarilho-font-webfont.ttf');
	src: url('../../font/andarilho-font-webfont.svg') format('svg');
	//src: url('../../font/andarilho-font-webfont.woff');
}

body{
	background-color: @background;
	color: white;
	font-family: "Andarilho Font", Helvetica, sans-serif;
	font-size: 14px;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	
	a{
		text-decoration: none;
		color: white;
	}
	

	p{
		font-size: 24px;
	}
	
}

/* - - - MENU SWIPABLE - - - */

#sp-page{
	position: absolute;
	background: #141444;
	margin-left: -8px;
	padding-top: 8px;
	-webkit-transition-duration:0.3s;
	transition-duration:0.3s;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 10;
	float: right;
	box-shadow: 20px 0 100px 30px #040433;
	-webkit-box-shadow: 20px 0 100px 30px #040433;
}


#sp-nav{
	width: 150px;
	z-index: 5;
	height: 100%;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}



// Panneau de droite quand le menu est déployé
.page{
	background: blue;
	overflow-x: hidden;
}






/* - - - QUESTIONS - - - */

[class^="icon-"], [class*=" icon-"] {
	font-size: 80px;
	color: @violet_clair;
}




/* PAGE INTRO */

#logo_dreamorize{
	text-align: center;
	margin-top: 200px;
}






/* - - - HEADER - - - */



#header{
	background: @header_color;
	margin-top: -8px;
	padding-top: 8px;
	padding-bottom: 4px;
}

.home{
	margin-top: -30px;
	text-align: center;
}

.icon-menu{

	font-size: 30px;
	color: @bleu_clair;
	cursor: pointer;
	margin-left: 8px;
}






/* - - - HOME - - - */

#menu_memoriser{
	position: relative;
	top: 100px;
	text-align: center;

	a{
		text-decoration: none;
	}
}

#options_memoriser{
	position: absolute;
	width: 290px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	top: 216px;
	right: 0;
	
 	a{
 		display: inline-block;
 		text-align: center;
 	}
}

.icon-memoriser{
	font-size: 100px;
	color: @bleu_clair;
}

.titre_bouton{
	font-size: 24px;
}

.titre_bouton1{
	font-size: 26px;
}

.menu_bouton{

	margin: 165px auto 0 auto;
	text-align: center;

	a{
		display: inline-block;
		text-decoration: none;

		img{
			display: block;
			margin: auto;
		}
		
		p{
			display: block;
			margin: auto;
			margin-top: 10px
		}
	}

	td{
		padding: 0px 7px;
	}
}


.icon-explorer, .icon-visualiser, .icon-echanger{

	font-size: 80px;
	color: @violet_clair;
}





/* OPTIONS DE MEMORISATION */

.icon-micro, .icon-questions{

	font-size: 100px;
	color: @bleu_clair;
	padding: 20px;
}




/* - - - VOCAL - - - */

.picto_vocal{

	text-align: center;
	margin-top: 100px;
}

.enregistrer{

	margin: 20px auto 0 auto;
	text-align: center;

	a{
		display: inline-block;
		text-decoration: none;

		img{
			display: block;
			margin: auto;
		}
		
		p{
			display: block;
			margin: auto;
			margin-top: 10px
		}
	}
}

td a .icon-micro{

	color: @violet_clair;
}

.icon-ok, .icon-reload, .icon-play, .icon-pause {

	color: @bleu_clair;
	font-size: 60px;
}

.icon-croix{
	color: @violet_clair;
	font-size: 60px;
}

.link_question{

	text-align: center;
	margin-top: 20px;

	font-size: 18px;
}

.mini-icon{
	font-size: 25px;
	color: @violet_clair;

}

.disabled{
	color: gray;
}
.mini-icon:active  { color: white; }





/* - - - QUESTIONS - - - */


#footer_container{

	text-align: center;
	background: @header_color;
	height: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-right: 8px;



	.indices_question{
		display: inline-block;
		color: @bleu_clair;
		font-family: 'Andale Mono';
		font-size: 20px;
	}

	.droit{
		margin-left: 10px;
	}
	
	.gauche{
		margin-right: 10px;
	}

	.checked_question{
		background: @bleu_clair;
	}

	.current_question{
		background: url(../../img/current_question.png);
	}

	#indicateur_question{
		position: absolute
		top: 0px;
		position: absolute;
		margin-top: 5px;
		transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		-webkit-animation-duration: 0.5s;		
	}


	#cases_progression_questions{

		display: inline-table;
		line-height: 50px;
		margin: auto;
		height: 10px;
		width: 270px;
		border: 1px solid @bleu_clair;
		border-radius: 3px;
		border-spacing: 0px;
		margin-top: 19px;

		.rectangle_etape_progression{

			height: 11px;
			border: 1px solid @bleu_clair;	
		}
		

		#ligne_etapes td:first-child {

			-moz-border-radius-bottomleft:3px;
            -webkit-border-bottom-left-radius:3px;
    		border-bottom-left-radius:3px;

    		-moz-border-radius-topleft:3px;
            -webkit-border-top-left-radius:3px;
    		border-top-left-radius:3px
		}

		#ligne_etapes td:last-child {

			-moz-border-radius-bottomright:3px;
            -webkit-border-bottom-right-radius:3px;
    		border-bottom-right-radius:3px;

    		-moz-border-radius-topright:3px;
            -webkit-border-top-right-radius:3px;
    		border-top-right-radius:3px;
		}
	}
}






// Contenu d'une question (s'arrête avant le footer)
.all_content{
	overflow-y: scroll;
	height: 72%;
	//overflow-x: hidden;
}

.boutons_annuler_valider{
	//position: absolute;
	bottom: 59px;
	
	left: 0;
	right: 0;
	margin: auto;
}

.question_text_input{
	text-decoration: none;
	text-align: center;
	border: 1px solid @violet_clair;
	border-radius: 3px;
	padding: 6px 0 0 0;
	background-color: @background;
	color: white;
	width: 200px;
	font-family: 'Andarilho Font', Helvetica, sans-serif;
	font-size: 20px;
}


.left_arrow_container{
	width: 55px;
}


.tab_question{

	margin: 20px auto 0 auto;
	text-align: center;

	a{
		display: inline-block;
		text-decoration: none;

		img{
			display: block;
			margin: auto;
		}
		
		p{
			display: block;
			margin: auto;
			margin-top: 10px;
		}
	}
}

.tab_question td p{

	font-size: 24px;
}

.tableau{

}


.icon-fleche{

	color: @bleu_clair;
	font-size: 40px;
	padding: 15px;
}

.intitule_question{
	width : 80%;
	text-align: center;
	margin: auto;

}





/* - - - QUESTION DATE - - - */


#ui-datepicker-div{
	width: 194px;

}

.bouton_cette_nuit{
	border: 1px solid @bleu_clair;
}


.date_elements{

	text-align: center;
	margin-top: 20px;
}

	



/* - - - QUESTION COULEURS - - - */

#tableau_couleurs{
	a{
		padding: 5px;
	}
}





/* - - - QUESTION EMOTION - - - */

.emotion_text{

	font-size: 24px;
}

.color_user{

	color: @violet_clair;
}

/* - - - QUESTION LIEU - - - */


#location_list{

	padding-left: 30px;
	padding-right: 30px;
}
.location_item{
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	margin-top: 0px;
	margin-left: 5px;
	padding: 3px;
	border: 1px solid #7BF6FF;
	font-size: 15px;

}



/* - - - QUESTION ACTION - - - */

.action_list{
	
}

#tableau_choix_categorie_action{
	-webkit-transition-duration:0.3s;
	transition-duration:0.3s;
}


#tableau_choix_categorie_action{
	td {
		padding: 10px;
	}

}
#tableau_choix_categorie_action .categorie_action_titre{
	font-size: 20px;
}

.action_item{
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	margin-top: -15px;
	margin-left: 5px;
	padding: 3px;
	border: 1px solid #7BF6FF;
	font-size: 15px;

}

/* Auto-completion (s'appuie sur jquery_ui) */
.ui-menu {
    list-style:none;
    padding: 10px;
    margin: 0;
    display:block;
    width:190px;
    background: red;
    font-family: "Andarilho Font", Helvetica, sans-serif;

	.ui-menu {
        margin-top: -3px;
        background: red;
        border: 1px solid blue;
	}
	.ui-menu-item {
	    margin:0;
	    padding: 0;
	    width: 200px;
	    font-family: "Andarilho Font", Helvetica, sans-serif;

        a {
	        text-decoration:none;
	        display:block;
	        padding:.2em .4em;
	        line-height:1.5;
	        zoom:1;
		}   
	}
}





/* - - - NAVIGATION - - - */

.panel{
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;

	-webkit-overflow-scrolling: touch;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s ;
	-moz-transition-duration: 0.5s ;
	-ms-transition-duration: 0.5s ;
	-o-transition-duration: 0.5s ;
}

.left{
	-webkit-transform:  translate3d(-100%,0,0);
}

.center{
	-webkit-transform:  translate3d(0,0,0);
}

.right{
	-webkit-transform:  translate3d(100%,0,0);
}
