<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>

<div id="sp-page" class="page" ng-controller="memCtrl">

    <!-- <div class="panel"  ng-class="{center: pageLevel == 0, left: pageLevel == 1}"> -->
    <header ng-include src="'partials/header.html'"></header>

    <div class="menu_memoriser" >
        <a href="#memoriser" ng-click="increaseLevel()">
            <button id="bouton_memoriser" class="bouton">
                <span class="icon-memoriser" alt="DREAMORIZE - Mémoriser"></span>
                <p class="titre_bouton1">MÉMORISER</p>
            </button>
        </a>
    </div>

    <nav class="menu">

        <table class="menu_bouton">

            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>

            <tr>

                <td>
                    <a href="#explorer">
                        <button id="bouton_explorer" class="bouton">
                            <span class="icon-explorer" alt="DREAMORIZE - Explorer"></span>
                        </button>
                    </a>
                </td>


                <td>
                    <a href="#visualiser">
                        <button id="bouton_visualiser" class="bouton">
                             <span class="icon-visualiser" alt="DREAMORIZE - Visualiser"></span>
                        </button>
                    </a>
                </td>


                <td>
                    <a href="#partager">
                        <button id="bouton_partager" class="bouton">
                              <span class="icon-echanger" alt="DREAMORIZE - Echanger"></span>
                        </button>
                    </a>
                </td>

            </tr>

            <tr>
                <td><p class="titre_bouton">EXPLORER</p></td>

                <td><p class="titre_bouton bouton">VISUALISER</p></td>

                <td><p class="titre_bouton">PARTAGER</p></td>
            </tr>

        </table>
    </nav>

</div>

<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>
    
    <script type="text/javascript" src="js/hammer_menu.js"></script>