<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>
<div id="sp-page" class="page" ng-controller="memCtrl">

	<header ng-include src="'partials/header.html'"></header>

	<table class="tab_question">
		<tr>
			<td>
				<a href="#vocal_5">
				    <button class="bouton">
				        <span class="icon-fleche"></span>
				    </button>
		    	</a>
		    </td>
			<td>&nbsp;</td>
			<td class="intitule_question">
				<p >QUAND AS-TU RÊVÉ ?</p>
			</td>
			<td>&nbsp;</td>
			<td>
				<a href="#questions_type">        
			        <button class="bouton">
			           <span class="icon-fleche"></span>
			        </button>
		    	</a>
			</td>
		</tr>
	</table>

	<div class="date_element">
		<a href="#questions_type">
			<button class="date_reve" ng-click="addDate();">La nuit dernière</button>
		</a>

		<p>ou</p>

		<input id="date_reve" onfocus="blur();"type="text" placeholder="AVANT" class="date_reve" ng-model="date" jqdatepicker/>

	</div>

	<table class="tab_question tableau">

		<tr>

			<td>

				<a href="#questions_date">
		                
			        <button class="bouton">

			            <span class="icon-croix"></span>

			        </button>

		    	</a>
		    	

			</td>

			<td>

				<a href="#questions_type">
		                
			        <button class="bouton" ng-click="addDate(date);">

			           <span class="icon-ok"></span>

			        </button>

		    	</a>

			</td>

		</tr>

	</table>

	<footer ng-include src="'partials/footer.html'"></footer>
</div>




<script>

function lastNightDate(){
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();

	if(dd<10) {
	    dd='0'+dd
	} 

	if(mm<10) {
	    mm='0'+mm
	} 

	today = yyyy+'-'+mm+'-'+dd;
	return today;
}

</script>







