<table class="tab_question">

	<tr>

		<td>

			<a href="#questions_couleur">
	                
		    <button class="bouton">

		        <span class="icon-fleche"></span>

		    </button>

	    	</a>

	    </td>

		<td>&nbsp;</td>

		<td>

			<p class="intitule_question">ÉMOTION(S) RESSENTIE(S) DANS TON RÊVE ?</p>

		</td>

		<td>&nbsp;</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		           <span class="icon-fleche"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>



<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input  type="range" value="0" max="100" min="0" step="1" name="joie" onchange="getEmotion(this.value, this.name)"> 

		</td>

		<td>&nbsp;</td>

		<td style="width:140px;"id="indice_joie" class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td id="joie" class="emotion_text">Joie</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" value="0" max="100" min="0" step="1" name="attirance" onchange="getEmotion(this.value, this.name)"> 

		</td>

		<td>&nbsp;</td>

		<td style="width:140px;" id="indice_attirance" class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td id="attirance" class="emotion_text">Attirance</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" value="0" max="100" min="0" step="1" name="peur" onchange="getEmotion(this.value, this.name)"> 

		</td>

		<td>&nbsp;</td>

		<td style="width:140px;" id="indice_peur" class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td id="peur" class="emotion_text">Appréhension</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" value="0" max="100" min="0" step="1" name="surprise" onchange="getEmotion(this.value, this.name)"> 

		</td>

		<td>&nbsp;</td>

		<td style="width:140px;"  id="indice_surprise" class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td id="surprise"class="emotion_text">Distraction</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" value="0" max="100" min="0" step="1" name="tristesse" onchange="getEmotion(this.value, this.name)"> 

		</td>

		<td>&nbsp;</td>

		<td style="width:140px;"  id="indice_tristesse" class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td id="tristesse"class="emotion_text">Songerie</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" value="0" max="100" min="0" step="1" name="degout" onchange="getEmotion(this.value, this.name)"> 

		</td>

		<td>&nbsp;</td>

		<td style="width:140px;"  id="indice_degout" class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td id="degout"class="emotion_text">Ennui</td>

	</tr>

</table>

<table class="tab_question">

	<tr>

		<td rowspan="2">

			<input type="range" value="0" max="100" min="0" step="1" name="colere" onchange="getEmotion(this.value, this.name)"> 

		</td>

		<td>&nbsp;</td>

		<td style="width:140px;"  id="indice_colere" class="emotion_text color_user">0%</td>


	</tr>

	<tr>
	
		<td>&nbsp;</td>

		<td id="colere"class="emotion_text">Contrariété</td>

	</tr>

</table>

<table class="tab_question tableau">

	<tr>

		<td>

			<a href="#questions_emotion">
	                
		        <button class="bouton">

		            <span class="icon-croix"></span>

		        </button>

	    	</a>

		</td>

		<td>

			<a href="#questions_lieu">
	                
		        <button class="bouton">

		           <span class="icon-ok"></span>

		        </button>

	    	</a>

		</td>

	</tr>

</table>

<footer id="evolution_questionnaire">
               
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
	
</footer>

<script>

  function getEmotion(value1, name){


      //var value1 = document.getElementById("nom_emotion_1").value;
      if(value1 < 33){
          if(name=="joie"){
            document.getElementById("joie").innerHTML="Sérénité";
          }else if(name=="attirance"){
            document.getElementById("attirance").innerHTML="Résignation";
          }else if(name=="peur"){
            document.getElementById("peur").innerHTML="Appréhension";
          }else if(name=="surprise"){
            document.getElementById("surprise").innerHTML="Distraction";
          }else if(name=="tristesse"){
            document.getElementById("tristesse").innerHTML="Songerie";
          }else if(name=="degout"){
            document.getElementById("degout").innerHTML="Ennui";
          }else if(name=="colere"){
            document.getElementById("colere").innerHTML="Contrariété";
          }
          
      }
      else if(value1 >= 33 && value1 < 66){
          if(name=="joie"){
            document.getElementById("joie").innerHTML="Joie";
          }else if(name=="attirance"){
            document.getElementById("attirance").innerHTML="Attirance";
          }else if(name=="peur"){
            document.getElementById("peur").innerHTML="Peur";
          }else if(name=="surprise"){
            document.getElementById("surprise").innerHTML="Surprise";
          }else if(name=="tristesse"){
            document.getElementById("tristesse").innerHTML="Tristesse";
          }else if(name=="degout"){
            document.getElementById("degout").innerHTML="Dégoût";
          }else if(name=="colere"){
            document.getElementById("colere").innerHTML="Colère";
          }
      }
      else if(value1 >=66){
        if(name=="joie"){
            document.getElementById("joie").innerHTML="Extase";
          }else if(name=="attirance"){
            document.getElementById("attirance").innerHTML="Adoration";
          }else if(name=="peur"){
            document.getElementById("peur").innerHTML="Terreur";
          }else if(name=="surprise"){
            document.getElementById("surprise").innerHTML="Etonnement";
          }else if(name=="tristesse"){
            document.getElementById("tristesse").innerHTML="Chagrin";
          }else if(name=="degout"){
            document.getElementById("degout").innerHTML="Aversion";
          }else if(name=="colere"){
            document.getElementById("colere").innerHTML="Rage";
          }
      }
        if(name=="joie"){
            document.getElementById("indice_joie").innerHTML=value1 + " %";
          }else if(name=="attirance"){
            document.getElementById("indice_attirance").innerHTML=value1 + " %";
          }else if(name=="peur"){
            document.getElementById("indice_peur").innerHTML=value1 + " %";
          }else if(name=="surprise"){
            document.getElementById("indice_surprise").innerHTML=value1 + " %";
          }else if(name=="tristesse"){
            document.getElementById("indice_tristesse").innerHTML=value1 + " %";
          }else if(name=="degout"){
            document.getElementById("indice_degout").innerHTML=value1 + " %";
          }else if(name=="colere"){
            document.getElementById("indice_colere").innerHTML=value1 + " %";
          }
      
  }
</script>