
<tr >

	<td>

		<a >

			<button class="bouton choix_personnage" ng-click="addPersonnage(1, 1);">

				<span class="icon-toi"></span>

			</button>

		</a>

	</td>

	<td>

		<a>

			<button class="bouton">

				<span class="icon-humain disabled"></span>

			</button>

		</a>

	</td>

	<td>

		<a>

			<button class="bouton" ng-click="addPersonnage(1, 2);">

				<span class="icon-famille"></span>

			</button>

		</a>

	</td>

</tr>

<tr>

	<td><p>toi</p></td>
	<td><p class="disabled">Humain</p></td>
	<td><p>famille</p></td>

</tr>

<tr>

	<td>

		<a href="#questions_personnage_humain">

			<button class="bouton" onclick="addPersonnage(1, 4);">

				<span class="icon-ami"></span>

			</button>

		</a>

	</td>

	<td>

		<a href="#questions_personnage_humain">

			<button class="bouton" onclick="addPersonnage(1, 8);">

				<span class="icon-amour"></span>

			</button>

		</a>

	</td>

	<td>

		<a href="#questions_personnage_humain">

			<button class="bouton" onclick="addPersonnage(1, 6);">

				<span class="icon-connaissance"></span>

			</button>

		</a>

	</td>

</tr>

<tr>

	<td><p>ami</p></td>
	<td><p>amour</p></td>
	<td><p>contact</p></td>

</tr>

<tr>

	<td>

		<a href="#questions_personnage_humain">

			<button class="bouton" onclick="addPersonnage(1, 5);">

				<span class="icon-inconnu"></span>


			</button>

		</a>

	</td>

	<td>

		<a href="#questions_personnage_humain">

			<button class="bouton" onclick="addPersonnage(1, 7);">

				<span class="icon-collegue"></span>

			</button>

		</a>

	</td>

	<td>

		<a href="#questions_personnage_humain">

			<button class="bouton" onclick="addPersonnage(1, 3);">

				<span class="icon-star"></span>

			</button>

		</a>

	</td>

</tr>



<tr>

	

	<td><p>inconnu</p></td>
	<td><p>collègue</p></td>
	<td><p>star</p></td>

</tr>






<script type="text/javascript">
/*

$(function() {

	$(".choix_personnage").on("click", function() {
    	$("#nom_personnage_popup").css("display","block");
    	$("#nom_personnage_popup").dialog({autoOpen : false});
    	$("#nom_personnage_popup").dialog('open');
    	$("#nom_personnage_ok").on("click", function() {
			//alert('lol');
			$("#nom_personnage_popup").dialog('close');
			//$("#nom_personnage").val();


		});
	});
});

function change() {
    alert("a");
    var scope = angular.element($("#outer")).scope();
    scope.$apply(function(){
        scope.msg = 'Superhero';
    })
}

*/

</script>
