<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>
<div id="sp-page" class="page" ng-controller="memCtrl">
	<header id="header"></header>



<nav class="memoriser">

    <a href="#vocal">

	    <span class="icon-micro"></span>
	    <p class="titre_bouton bouton">VOCAL</p>

    </a>

    <a href="#questions_date">

	    <span class="icon-questions"></span>
	    <p class="titre_bouton bouton">QUESTIONS</p>

    </a>

</nav>

</div>

<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>    
<script type="text/javascript" src="js/hammer_menu.js"></script>