<div id="sp-nav" static-include="partials/sidebar.html" ></div>
<div id="sp-page" class="page" ng-controller="memCtrl">

<div id="header" ng-include src="header.url"></div>



	<table class="tab_question">

		<tr>

			<td>

				<a href="#questions_date">
					
					<button class="bouton">

						<span class="icon-fleche"></span>

					</button>

				</a>

			</td>

			<td>&nbsp;</td>

			<td>

				<p class="intitule_question">DE QUEL TYPE ÉTAIT TON RÊVE ?</p>

			</td>

			<td>&nbsp;</td>

			<td>

				<a href="#questions_couleur">
					
					<button class="bouton">

						<span class="icon-fleche"></span>

					</button>

				</a>

			</td>

		</tr>

	</table>

	<div class='all_content'>

		<table class="tab_question">

			<tr>

				<td>

					<a href="#questions_couleur">
						
						<button class="bouton" ng-click="addType(1);">

							<span class="icon-reve"></span>

						</button>

					</a>

				</td>

				<td>

					<a href="#questions_couleur">
						
						<button class="bouton" ng-click="addType(2);">

							<span class="icon-cauchemar"></span>

						</button>

					</a>

				</td>

				<td>

					<a href="#questions_couleur">
						
						<button class="bouton" ng-click="addType(4);">

							<span class="icon-enfantin"></span>

						</button>

					</a>

				</td>

			</tr>

			<tr>

				<td><p>Rêve</p></td>
				<td><p>Cauchemar</p></td>
				<td><p>Enfantin</p></td>

			</tr>

			<tr>

				<td>

					<a href="#questions_couleur">
						
						<button class="bouton" ng-click="addType(3);">

							<span class="icon-lucide"></span>

						</button>

					</a>

				</td>

				<td>

					<a href="#questions_couleur">
						
						<button class="bouton" ng-click="addType(5);">

							<span class="icon-dejavu"></span>

						</button>

					</a>

				</td>

				<td>&nbsp;</td>

			</tr>

			<tr>

				<td><p>Lucide</p></td>
				<td><p>Déjà-Vu</p></td>
				<td>&nbsp;</td>

			</tr>

		</table>

		

	</div>

	<footer id="evolution_questionnaire">
		
		<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
		
	</footer>

</div>

<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>    
<script type="text/javascript" src="js/hammer_menu.js"></script>
