<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>
<div id="sp-page" class="page" ng-controller="memCtrl">

<div id="header" ng-include src="header.url"></div>

<table class="tab_question">
	<tr>
		<td>
			<a href="#questions_action">        
		    <button class="bouton">
		        <span class="icon-fleche"></span>
		    </button>
	    	</a>
	    </td>
		<td>&nbsp;</td>
		<td>
			<p class="intitule_question">AUTRE CHOSE DANS TON RÊVE ?</p>

		</td>
		<td>&nbsp;</td>
		<td>
			<a href="#questions_titre">        
		        <button class="bouton">
		            <span class="icon-fleche"></span>
		        </button>
	    	</a>
		</td>
	</tr>
</table>

<div class='all_content'>

<div class="date_element">

	<input id='tag_field' type="text" placeholder="ENTRE DES MOTS-CLÉS" ng-model='tag' class="action_reve"/><span id="tag_ok"  ng-click='addTag(tag);'class="icon-ok mini-icon"></span>

	<div id="tags_list" style='padding-top: 20px;'></div>

</div>
</div>

<script type="text/javascript">

	var nbTag = 0;
	var tagsArray = new Array();

	$('#tag_field').focus(function(){
   		$(this).removeAttr('placeholder');
	});

	$('#tag_ok').click(function(event) {

		if(nbTag < 5){
			if($('#tag_field').val() != ''){


				var tagDoesntExist = true;
				$.each(tagsArray, function(index, val) {
					 if($('#tag_field').val() == val){
					 	tagDoesntExist = false;
					 	//$('#tag_field').val('Tu as déjà entré ce mot.');
					 	$('#tag_field').attr("placeholder", "EXISTE DEJA, REESAIE");
					 	$('#tag_field').val('');
					 	console.log('existe déjà');
					 }
				});

				if(tagDoesntExist){

					nbTag++;
					var tag = $('#tag_field').val();
					tagsArray.push(tag);
					$('#tag_field').attr("placeholder", "ENTRE DES MOTS-CLÉS");
					$('#tag_field').val('');
					$('#tags_list').append("<p id='tag_item"+nbTag+"' class='action_item'>" + tag + "</p></div><br>" );
					//$('#action_item'+nbAction+'').show('400');
				}
			}
		}else{
			$('#tag_field').val('');
			$('#tag_field').attr("placeholder", "5 MAXIMUM...");
		}
	});

</script>



<table class="boutons_annuler_valider tableau">
	<tr>
		<td>
			<a href="#questions_keywords">        
		        <button class="bouton">
		             <span class="icon-croix"></span>
		        </button>
	    	</a>
		</td>
		<td>
			<a href="#questions_titre">        
		        <button class="bouton">
		            <span class="icon-ok"></span>
		        </button>
	    	</a>
		</td>
	</tr>
</table>



<footer id="evolution_questionnaire">  
	<img src="img/dreamorize_evolution.png" alt="DREAMORIZE - Evolution du questionnaire">
</footer>

</div>

<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>    
<script type="text/javascript" src="js/hammer_menu.js"></script>