<div>
    <a href="#memoriser">
        <span class="icon-memoriser" alt="DREAMORIZE - Mémoriser"></span>
    </a><br/><br/>


    <a href="#explorer" >
        <span class="icon-explorer" alt="DREAMORIZE - Explorer"></span>
    </a><br/><br/>

    
    <a href="#visualiser" >
        <span class="icon-visualiser" alt="DREAMORIZE - Visualiser"></span>
    </a><br/><br/>


    <a href="#partager">
        <span class="icon-echanger" alt="DREAMORIZE - Echanger"></span>
    </a><br/><br/>
    
    
    <a href="http://dreamorize.meximas.com/back_office">
        <img src="img/pictos/home/icon-backoffice.png" alt="DREAMORIZE - Back-office">
    </a><br/><br/>
</div>