<div class="picto_vocal">
    <img src="img/pictos/memoriser/vocal/icon-vocal-on.png" alt="DREAMORIZE - Pictogramme Vocal">
</div>

<div>

	<table class="enregistrer">
		<tr>
			<td>
				<a href="#vocal">
			        <span class="icon-reload"></span>
		    	</a>
			</td>

			<td>
				<a href="#vocal_2">
			        <span class="icon-micro"></span>
		    	</a>
			</td>

			<td>
				<a href="#vocal_3">
			        <span class="icon-ok"></span>
		    	</a>
			</td>
		</tr>

		<tr>
			<td>&nbsp;</td>
			<td><p class="titre_bouton">01:45</p></td>
			<td>&nbsp;</td>
		</tr>
	</table>

</div>