<div id="vocal_content" style="width: 160px;margin: auto;">


<div class="picto_vocal">
    <img src="img/pictos/memoriser/vocal/icon-vocal-off.png" alt="DREAMORIZE - Pictogramme Vocal">
</div>

<div class="link_question">

	<p>ACCÉDER AU <br/>QUESTIONNAIRE ?</p>

</div>

<table class="enregistrer">

	<tr>

		<td>

			<a href="#">
		        <span class="icon-croix"></span>
	    	</a>

		</td>

		<td>

			<a href="#questions_date">
		        <span class="icon-ok"></span>
	    	</a>

		</td>

	</tr>

</table>

</div>