<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>
<div id="sp-page" class="page" ng-controller="memCtrl" data-ng-init="updateNumeroQuestion(5)">

<div id="header_container" ng-include src="header.url"></div>

	<table class="tab_question">

		<tr>
			<td>
				<a href="#questions_emotion">
					<span class="icon-fleche"></span>
				</a>
			</td>
			<td>
				<p class="intitule_question">OÙ SE PASSAIT TON RÊVE ?</p>
			</td>
			<td>
				<a href="#questions_personnage">	
					<span class="icon-fleche"></span>
				</a>
			</td>
		</tr>
	</table>

	<div class='all_content'>

		<div id="location_list"></div>

		<table class="tab_question" id="liste_categorie_lieux">

			<tr>
				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(1)">
							<span class="icon-maison"></span>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(2)">
						<span class="icon-travail"></span>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(5)">	
						<span class="icon-ecole"></span>
					</a>
				</td>
			</tr>

			<tr>
				<td><p>Maison</p></td>
				<td><p>Travail</p></td>
				<td><p>École</p></td>
			</tr>

			<tr>
				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(11)">
						<span class="icon-public"></span>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(3)">
						<span class="icon-commerce"></span>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(8)">
						<span class="icon-transport"></span>
					</a>
				</td>
			</tr>

			<tr>
				<td><p>Public</p></td>
				<td><p>Commerce</p></td>
				<td><p>Transport</p></td>
			</tr>

			<tr>
				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(4)">	
						<span class="icon-urbain"></span>
						</button>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(7)">	
						<span class="icon-rural"></span>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(6)">
						<span class="icon-loisirs"></span>
					</a>
				</td>
			</tr>

			<tr>
				<td><p>Urbain</p></td>
				<td><p>Rural</p></td>
				<td><p>Loisirs</p></td>
			</tr>

			<tr>
				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(10)">	
						<span class="icon-vacances"></span>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(12)">
						<span class="icon-imaginaire"></span>
					</a>
				</td>

				<td>
					<a class="choix_categorie_lieu" ng-click="addLieu(9)">
						<span class="icon-historique"></span>
					</a>
				</td>
			</tr>

			<tr>
				<td><p>Vacances</p></td>
				<td><p>Imaginaire</p></td>
				<td><p>Historique</p></td>
			</tr>
		</table>

		<table class="boutons_annuler_valider">
			<tr>
				<td>
					<a href="#questions_personnage">	
						<span class="icon-croix"></span>
					</a>
				</td>

				<td>
					<a href="#questions_personnage" >
						<span class="icon-ok"></span>
					</a>
				</td>
			</tr>
		</table>

	</div>


	<div id="nom_lieu_content" style="opacity: 0; visibility: hidden;display: none;">

		<p>Quel est le nom du lieu ?</p>
		<input id="nom_lieu" class="question_text_input" type="text" placeholder="Lieu..." maxlength="30"/>
		<span id="validation_nom_lieu" class="icon-ok mini-icon">
		</span>

	</div>


	<script>
		$('.choix_categorie_lieu').click(function(event) {

			$(".boutons_annuler_valider").animate({opacity: 0, duration: 300, queue: false}, 300, function(){
				$(".boutons_annuler_valider").css({
					display: 'none'
				});
			});

			$("#liste_categorie_lieux").animate({opacity: 0, duration: 300, queue: false}, 300, function(){
				$("#liste_categorie_lieux").css({
					display: 'none'
				});
			});

			
			$('#nom_lieu_content').css({
				visibility: 'visible',
				position: 'absolute',
				marginTop: '-230px',
				textAlign: 'center',
				display: 'inline-block',
				left: '0',
				right: '0'
			});
			$('#nom_lieu').removeAttr('placeholder');
			$("#nom_lieu_content").animate({opacity: 1, duration:500, marginTop: '-450px','useTranslate3d': true, queue: false}, 500, 'easeOutCubic', function(){

				$('#nom_lieu').focus();
			});

			$('#nom_lieu').click(function(event) {
				$('#nom_lieu').removeAttr('placeholder');
			});

			$('#validation_nom_lieu').click(function(event) {

				if($('#nom_lieu').val() == ''){

					$('#nom_lieu').attr('placeholder', 'Nom vide, rééssaie...');

				}else{

					var nom_lieu = $('#nom_lieu').val();
					angular.element($("#validation_nom_lieu")).scope().addEntireLocation(nom_lieu);
					$('#nom_lieu_content').animate({opacity: 0, duration:300, marginTop: '-230px','useTranslate3d': true, queue: false}, 300, 'easeInCubic', function(){
						$("#nom_lieu_content").css({display: 'none'});
					});

					$("#liste_categorie_lieux").css({display: ''});
					$(".boutons_annuler_valider").css({display: ''});

					$(".boutons_annuler_valider").animate({opacity: 1, duration: 300, queue: false}, 300);
					$("#liste_categorie_lieux").animate({opacity: 1, duration: 300, queue: false}, 300);
					$('#location_list').append('<p class="location_item">' + nom_lieu +'</p>');
					$('#nom_lieu').val('');
				}
				
			});
		});

	</script>

	<div id="footer_container" ng-include src="footer.url"></div>

</div>

<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>    
<script type="text/javascript" src="js/hammer_menu.js"></script>