<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>
<div id="sp-page" class="page" ng-controller="memCtrl" data-ng-init="updateNumeroQuestion(7)">

<div id="header_container" ng-include src="header.url"></div>
 

<table class="tab_question">
	<tr>
		<td>
			<a href="#questions_personnage">
		       <span class="icon-fleche"></span>
	    	</a>
	    </td>
		<td>
			<p class="intitule_question">ACTIONS DANS TON RÊVE ?</p>
		</td>
		<td>
			<a href="#questions_keywords">
		        <span class="icon-fleche"></span>
	    	</a>
		</td>
	</tr>
</table>

<div class='all_content'>

<div class="date_elements">

	<input type="text" id="action_field" ng-model="action" placeholder="ENTRE UN VERBE" maxlength="30" class="question_text_input"/>
	<span id="action_ok"  ng-click='addAction(action);' class="icon-ok mini-icon"></span>

	<div id="action_list" style='padding-top: 20px;'></div>

	<table id="tableau_choix_categorie_action" style="display: none; opacity: 0;">
		<caption style="font-size: 20px; padding: 10px">CHOISIS UNE CATEGORIE</caption>
		<tr>
			<td><span ng-click="addCategorieAction(4)" class='choix_cat_action icon-mouvement' id="mouvement"></span></td>
			<td><span ng-click="addCategorieAction(2)"class='choix_cat_action icon-creation'></span></td>
			<td><span ng-click="addCategorieAction(3)"class='choix_cat_action icon-destruction'></span></td>
		</tr>
		<tr>
			<td class="categorie_action_titre">Mouvement</td>
			<td class="categorie_action_titre">Créer</td>
			<td class="categorie_action_titre">Détruire</td>
		</tr>
		<tr>
			<td><span ng-click="addCategorieAction(1)" class='choix_cat_action icon-echanger'></span></td>
			<td><span ng-click="addCategorieAction(5)" class='choix_cat_action icon-psychologique'></span></td>
			<td><span ng-click="addCategorieAction(6)" class='choix_cat_action icon-autre'></span></td>
		</tr>
		<tr>
			<td class="categorie_action_titre">Echanger</td>
			<td class="categorie_action_titre">Emotion</td>
			<td class="categorie_action_titre">Autre</td>
		</tr>

	</table>


	<script type="text/javascript">


		var userId = 1;
        var jsonVerbs;

        var toType = function(obj) {
  			return ({}).toString.call(obj).match(/\s([a-zA-Z]+)/)[1].toLowerCase()
		}

        function access(data){
        	var parser = new DOMParser();
			var xmlDoc = parser.parseFromString(data.responseText,"text/xml");
			var stringVerbs = xmlDoc.getElementById("verb_list").childNodes[1].innerHTML;
			var jsonVerbs = JSON.parse("[" + stringVerbs + "]");
			var verbsArray = new Array();

			for(var i in jsonVerbs) {
			   	for(var j in jsonVerbs[i]){
			   		verbsArray.push(jsonVerbs[i][j]);
			   		verbsArray.push("se " + jsonVerbs[i][j]);
			   	}  
			}

			$("#action_field").autocomplete({
				source: verbsArray,
				minLength: 1
			});

			// Remplace le filtre par défaut d'autocomplétion pour chercher seulement au début des chaines de caractères
    		$.ui.autocomplete.filter = function (array, term) {
		        var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(term), "i");
		       	return $.grep(array, function (value) {
		            return matcher.test(value.label || value.value || value);
		        });
    		};
        }

        $.ajax({
            url: "http://dreamorize.meximas.com/back_office/app/searchVerbs.php",
            type: 'get',
            
            error: function(xhr, status, error) {
                    alert("l'auto-complétion des verbes ne peut pas s'effectuer");
                },
            success: function(data) {
                result = data;
                access(data);
            }
        });

		

		var nbAction = 0;
		var actionsArray = new Array();

		$('#action_field').focus(function(){
	   		$(this).removeAttr('placeholder');
	   		$("#boutons_final_actions").animate({opacity: 0, duration:200, queue: false});
		});

		$('#action_ok').click(function(event) {

			if($('#action_field').val() != ''){


				var actionDoesntExist = true;
				$.each(actionsArray, function(index, val) {
					 if($('#action_field').val() == val){
					 	actionDoesntExist = false;
					 	//$('#tag_field').val('Tu as déjà entré ce mot.');
					 	$('#action_field').attr("placeholder", "Existe déjà. Réesaie...");
					 	$('#action_field').val('');
					 	console.log('existe déjà');
					 }
				});

				if(actionDoesntExist){

					nbAction++;
					var action = $('#action_field').val();
					actionsArray.push(action);
					$('#action_field').attr("placeholder", "ENTRE UN VERBE");
					$('#action_field').val('');
					$('#action_list').append("<p id='action_item"+nbAction+"' class='action_item' style='opacity: 0;display: none;'>" + action + "</p></div><br>" );
					
					$("#action_field").animate({opacity: 0, duration: 300, queue: false}, 300, function(){
						$("#action_field").css({
							visibility: 'hidden'
						});
					});
					$("#action_ok").animate({opacity: 0, duration: 300, queue: false}, 300, function(){
						$("#action_ok").css({
							visibility: 'hidden'
						});
					});


					
					$("#boutons_final_actions").animate({marginTop: '100px',opacity: 0, 'useTranslate3d': true , duration:200, queue: false}, 200, function(){

						$("#boutons_final_actions").css({display: 'none'});

						// Action
						$('#action_item'+nbAction).css({display: 'inline-block'});
						$('#action_item'+nbAction).stop().animate({ opacity: 1, duration : 300, queue : false});

						// Tableau choix categories
						$('#tableau_choix_categorie_action').css({display: 'inline-block'});
						$('#tableau_choix_categorie_action').stop().animate({ opacity: 1 }, 300);
					});
				}
			}
		});

		$('.choix_cat_action ').click(function(event) {
			$('#tableau_choix_categorie_action').stop().animate({ opacity: -0.2 , duration: 500, queue: false}, 500, function() {

				$('#tableau_choix_categorie_action').css({display: 'none'});

				$("#boutons_final_actions").css({display: ''});
				$("#boutons_final_actions").animate({margin: '0 auto', opacity: 1, 'useTranslate3d': true}, 500);

				$("#action_field").css({
					visibility: 'visible'
				});
	 			$("#action_ok").css({
						visibility: 'visible'
					});
	 			$("#action_field").animate({opacity: 1, duration: 500, queue: false}, 500);
				$("#action_ok").animate({opacity: 1, duration: 500, queue: false}, 500);
		
 			});
 			
		});

	</script>

</div>



	<table class="boutons_annuler_valider" id="boutons_final_actions">
		<tr>
			<td>
				<a href="#questions_action">        
			        <span class="icon-croix"></span>
		    	</a>
			</td>
			<td>
				<a href="#questions_keywords">        
			        <span class="icon-ok"></span>
		    	</a>
			</td>
		</tr>
	</table>



	<div id="footer_container" ng-include src="footer.url"></div>

</div>
<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>    
<script type="text/javascript" src="js/hammer_menu.js"></script>
