<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>
<div id="sp-page" class="page" ng-controller="memCtrl" data-ng-init="updateNumeroQuestion(6)">

<div id="header_container" ng-include src="header.url"></div>


	<table class="tab_question">
		<tr>
			<td>
				<a href="#questions_lieu">	
					<span class="icon-fleche"></span>
				</a>
			</td>
			
			<td>
				<p class="intitule_question">QUI ÉTAIT DANS TON RÊVE ?</p>
			</td>

			<td>
				<a href="#questions_action">	
					<span class="icon-fleche"></span>
				</a>
			</td>
		</tr>
	</table>






	<div   class='all_content' ng-switch="x.activePersonnage">
		

		<div  ng-switch-when="humain">
			<table class="tab_question">

				<tr >
					<td>
						<span class="icon-toi choix_personnage" ng-click="addPersonnage(1, 1);"></span>
					</td>
					<td>
						<span class="icon-humain disabled"></span>
					</td>
					<td>
						<span class="icon-famille choix_personnage" ng-click="addPersonnage(1, 2);"></span>
					</td>
				</tr>
				<tr>
					<td><p>toi</p></td>
					<td><p class="disabled">Humain</p></td>
					<td><p>famille</p></td>
				</tr>
				<tr>
					<td>
						<span class="icon-ami choix_personnage" ng-click="addPersonnage(1, 4);"></span>	
					</td>
					<td>
						<span class="icon-amour choix_personnage" ng-click="addPersonnage(1, 8);"></span>
					</td>
					<td>
						<span class="icon-connaissance choix_personnage" ng-click="addPersonnage(1, 6);"></span>
					</td>
				</tr>
				<tr>
					<td><p>ami</p></td>
					<td><p>amour</p></td>
					<td><p>contact</p></td>
				</tr>
				<tr>
					<td>
						<span class="icon-inconnu choix_personnage" ng-click="addPersonnage(1, 5);"></span>
					</td>
					<td>
						<span class="icon-collegue choix_personnage" ng-click="addPersonnage(1, 7);"></span>
					</td>
					<td>
						<span class="icon-star choix_personnage" ng-click="addPersonnage(1, 3);"></span>
					</td>
				</tr>
				<tr>
					<td><p>inconnu</p></td>
					<td><p>collègue</p></td>
					<td><p>star</p></td>

				</tr>

			</table>


			<script type="text/javascript">

			$(function() {

				$(".choix_personnage").on("click", function() {

					$("#nom_personnage_popup").css("display","block");
					$("#nom_personnage_popup").dialog({autoOpen : false});
					$("#nom_personnage_popup").dialog('open');

					$("#nom_personnage_ok").on("click", function() {

						$("#nom_personnage_popup").dialog('close');

						var nom_personnage = $("#nom_personnage").val();
						

						//var scope = angular.element($("#nom_personnage")).scope();
						//var sous_cat = scope.sous_categorie_personnage;
    					//scope.$apply(function(){
        				//	scope.msg = 'Superhero';
   						//})
						//console.log("sous categorie après: " + sous_cat);

						angular.element($("#nom_personnage")).scope().addPersonnageData(nom_personnage);

						//angular.element($("#nom_personnage")).scope().$apply();
						//console.log(nom_personnage);
					});
				});
			});
			</script>
		</div>





		

		<div  ng-switch-when="animal">
			<table class="tab_question">
				<tr>
					<td>&nbsp;</td>
					<td>
						<span class="icon-poil choix_personnage" ng-click="addPersonnage(2, 9);"></span>
					</td>
					<td>
						<span class="icon-plume choix_personnage" ng-click="addPersonnage(2, 10);"></span>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><p>poil</p></td>
					<td><p>plume</p></td>
				</tr>
				<tr>
					<td>
						<span class="icon-animal disabled"></span>
					</td>
					<td>
						<span class="icon-ecaille choix_personnage" ng-click="addPersonnage(2, 11);"></span>
					</td>
					<td>
						<span class="icon-autre_animal choix_personnage" ng-click="addPersonnage(2, 12);"></span>
					</td>
				</tr>
				<tr>
					<td><p class='disabled'>Animal</p></td>
					<td><p>écaille</p></td>
					<td><p>autre</p></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>


		<div   ng-switch-when="autre">
			<table class="tab_question">
				<tr>
					<td>&nbsp;</td>
					<td>
						<span class="icon-monstre choix_personnage" ng-click="addPersonnage(3, 13);"></span>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><p>monstre</p></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
						<span class="icon-imaginaire_qui choix_personnage" ng-click="addPersonnage(3, 15);"></span>
					</td>
					<td>
						<span class="icon-ovni choix_personnage" ng-click="addPersonnage(3, 14);"></span>
					</td>
					<td>
						<span class="icon-non_identifier disabled"></span>
					</td>
				</tr>
				<tr>
					<td><p>imaginaire</p></td>
					<td><p>OVNI</p></td>
					<td><p class='disabled'>Autre</p></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>








		<div ng-switch-default>
			<table class="tab_question" id="icons_personnage">
				<tr>
					<td><p>&nbsp;</p></td>
					<td>
						<span class="icon-humain choix_personnage" ng-click="x.activePersonnage='humain';"></span>
					</td>
					<td><p>&nbsp;</p></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><p>Humain</p></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>
						<span class="icon-animal choix_personnage" ng-click="x.activePersonnage='animal';"></span>
						
					</td>
					<td><p>&nbsp;</p></td>
					<td>
						<span class="icon-non-identifie choix_personnage" ng-click="x.activePersonnage='autre';"></span>
					</td>
				</tr>
				<tr>
					<td><p>Animal</p></td>
					<td>&nbsp;</td>
					<td><p>Autre</p></td>
				</tr>
				<tr>
					<td><p>&nbsp;</p></td>
					<td><p>&nbsp;</p></td>
					<td><p>&nbsp;</p></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</table>
		</div>






		<table class="tab_question tableau">
			<tr>
				<td>
					<a href="#questions_personnage">	
						
							<span class="icon-croix"></span>
						
					</a>
				</td>
				<td>
					<a href="#questions_action">	
						
							<span class="icon-ok"></span>
						
					</a>
				</td>
			</tr>
		</table>


		
	</div>


	<div id="footer_container" ng-include src="footer.url"></div>



</div>




<div id="nom_personnage_popup" style="display: none;">
	<p>Quel est le nom de ton personnage ?</p>
	<input class="date_reve" type="text" id="nom_personnage" maxlength="30"/>
	<span class="icon-ok mini-icon" id="nom_personnage_ok"></span>
</div>



<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>    
<script type="text/javascript" src="js/hammer_menu.js"></script>