<div id="sp-nav" ng-include src="'partials/sidebar.html'"></div>
<div id="sp-page" class="page" ng-controller="memCtrl" data-ng-init="updateNumeroQuestion(8)">

<div id="header_container" ng-include src="header.url"></div>

<table class="tab_question">
	<tr>
		<td>
			<a href="#questions_action">        
		        <span class="icon-fleche"></span>
	    	</a>
	    </td>
		<td>
			<p class="intitule_question">AUTRE CHOSE DANS TON RÊVE ?</p>
		</td>

		<td>
			<a href="#questions_titre">        
		        <span class="icon-fleche"></span>
	    	</a>
		</td>
	</tr>
</table>

<div class='all_content'>

	<div class="date_elements">
		<input id='tag_field' type="text" placeholder="ENTRE DES MOTS-CLÉS" ng-model='tag' class="question_text_input" maxlength="30"/>
		<span id="tag_ok"  ng-click='addTag(tag);'class="icon-ok mini-icon"></span>
		<div id="tags_list" style='padding-top: 20px;'></div>
	</div>


	<table class="boutons_annuler_valider tableau">
		<tr>
			<td>
				<a href="#questions_keywords">        
			        <span class="icon-croix"></span>
		    	</a>
			</td>
			<td>
				<a href="#questions_titre">        
			        <span class="icon-ok"></span>
		    	</a>
			</td>
		</tr>
	</table>


</div>

<div id="footer_container" ng-include src="footer.url"></div>

<script type="text/javascript">

	var nbTag = 0;
	var tagsArray = new Array();

	$('#tag_field').focus(function(){
   		$(this).removeAttr('placeholder');
		$(".boutons_annuler_valider").animate({opacity: 0, duration:200, queue: false});
	});

	$('#tag_ok').click(function(event) {

		if(nbTag < 5){
			if($('#tag_field').val() != ''){


				var tagDoesntExist = true;
				$.each(tagsArray, function(index, val) {
					 if($('#tag_field').val() == val){
					 	tagDoesntExist = false;
					 	//$('#tag_field').val('Tu as déjà entré ce mot.');
					 	$('#tag_field').attr("placeholder", "EXISTE DEJA, REESAIE");
					 	$('#tag_field').val('');
					 	console.log('existe déjà');
					 }
				});

				if(tagDoesntExist){

					nbTag++;
					var tag = $('#tag_field').val();
					tagsArray.push(tag);
					$('#tag_field').attr("placeholder", "ENTRE DES MOTS-CLÉS");
					$('#tag_field').val('');
					$('#tags_list').append("<p id='tag_item"+nbTag+"' class='action_item' style='opacity: 0;display: none;'>" + tag + "</p></div><br>" );
					// Action
					$('#tag_item'+nbTag).css({display: 'inline-block'});
					$('#tag_item'+nbTag).stop().animate({ opacity: 1, duration : 300, queue : false});
					$(".boutons_annuler_valider").animate({opacity: 1, duration:200, queue: false});
				}
			}
		}else{
			$('#tag_field').val('');
			$('#tag_field').attr("placeholder", "5 MAXIMUM...");
		}
	});

</script>

<script type="text/javascript" src="js/jquery.hammer.full.min.js"></script>    
<script type="text/javascript" src="js/hammer_menu.js"></script>