@font-face {
	font-family: 'Dreamorize_icons';
	src:url('fonts/Dreamorize_icons.eot?1b78nl');
	src:url('fonts/Dreamorize_icons.eot?#iefix1b78nl') format('embedded-opentype'),
		url('fonts/Dreamorize_icons.woff?1b78nl') format('woff'),
		url('fonts/Dreamorize_icons.ttf?1b78nl') format('truetype'),
		url('fonts/Dreamorize_icons.svg?1b78nl#Dreamorize_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Dreamorize_icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-loisirs:before {
	content: "\e652";
}
.icon-commerce:before {
	content: "\e63c";
}
.icon-action_autre_clic:before {
	content: "\e600";
}
.icon-ami_clic:before {
	content: "\e601";
}
.icon-amour_clic:before {
	content: "\e602";
}
.icon-animal_autre_clic:before {
	content: "\e603";
}
.icon-animal_clic:before {
	content: "\e604";
}
.icon-cauchemar_clic:before {
	content: "\e605";
}
.icon-collegue_clic:before {
	content: "\e606";
}
.icon-commerce_clic:before {
	content: "\e607";
}
.icon-communication_clic:before {
	content: "\e608";
}
.icon-contact_clic:before {
	content: "\e609";
}
.icon-creation_clic:before {
	content: "\e60a";
}
.icon-croix_clic:before {
	content: "\e60b";
}
.icon-dejavu_clic:before {
	content: "\e60c";
}
.icon-destruction_clic:before {
	content: "\e60d";
}
.icon-ecaille_clic:before {
	content: "\e60e";
}
.icon-echanger_clic:before {
	content: "\e60f";
}
.icon-ecole_clic:before {
	content: "\e610";
}
.icon-enfantin_clic:before {
	content: "\e611";
}
.icon-explorer_clic:before {
	content: "\e612";
}
.icon-famille_clic:before {
	content: "\e613";
}
.icon-historique_clic:before {
	content: "\e614";
}
.icon-humain_clic:before {
	content: "\e615";
}
.icon-imaginaire_clic:before {
	content: "\e616";
}
.icon-imaginaire_non_id_clic:before {
	content: "\e617";
}
.icon-inconnu_clic:before {
	content: "\e618";
}
.icon-loisirs_clic:before {
	content: "\e619";
}
.icon-lucide_clic:before {
	content: "\e61a";
}
.icon-maison_clic:before {
	content: "\e61b";
}
.icon-memoriser_clic:before {
	content: "\e61c";
}
.icon-micro_clic:before {
	content: "\e61d";
}
.icon-monstre_clic:before {
	content: "\e61e";
}
.icon-mouvement_clic:before {
	content: "\e61f";
}
.icon-non-identifie_clic:before {
	content: "\e620";
}
.icon-ok_clic:before {
	content: "\e621";
}
.icon-ovni_clic:before {
	content: "\e622";
}
.icon-pause_clic:before {
	content: "\e623";
}
.icon-play_clic:before {
	content: "\e624";
}
.icon-plume_clic:before {
	content: "\e625";
}
.icon-poil_clic:before {
	content: "\e626";
}
.icon-psychologie_clic:before {
	content: "\e627";
}
.icon-public_clic:before {
	content: "\e628";
}
.icon-question_clic:before {
	content: "\e629";
}
.icon-reload_clic:before {
	content: "\e62a";
}
.icon-reve_clic:before {
	content: "\e62b";
}
.icon-rural_clic:before {
	content: "\e62c";
}
.icon-star_clic:before {
	content: "\e62d";
}
.icon-toi_clic:before {
	content: "\e62e";
}
.icon-transport_clic:before {
	content: "\e62f";
}
.icon-travail_clic:before {
	content: "\e630";
}
.icon-urbain_clic:before {
	content: "\e631";
}
.icon-vacances_clic:before {
	content: "\e632";
}
.icon-visualiser_clic:before {
	content: "\e633";
}
.icon-action_autre:before {
	content: "\e634";
}
.icon-ami:before {
	content: "\e635";
}
.icon-amour:before {
	content: "\e636";
}
.icon-animal_autre:before {
	content: "\e637";
}
.icon-animal:before {
	content: "\e638";
}
.icon-cauchemar:before {
	content: "\e639";
}
.icon-colere:before {
	content: "\e63a";
}
.icon-collegue:before {
	content: "\e63b";
}
.icon-communication:before {
	content: "\e63d";
}
.icon-confiant:before {
	content: "\e63e";
}
.icon-contact:before {
	content: "\e63f";
}
.icon-creation:before {
	content: "\e640";
}
.icon-croix:before {
	content: "\e641";
}
.icon-degout:before {
	content: "\e642";
}
.icon-dejavu:before {
	content: "\e643";
}
.icon-destruction:before {
	content: "\e644";
}
.icon-ecaille:before {
	content: "\e645";
}
.icon-echanger:before {
	content: "\e646";
}
.icon-ecole:before {
	content: "\e647";
}
.icon-enfantin:before {
	content: "\e648";
}
.icon-explorer:before {
	content: "\e649";
}
.icon-famille:before {
	content: "\e64a";
}
.icon-fleche:before {
	content: "\e64b";
}
.icon-historique:before {
	content: "\e64c";
}
.icon-humain:before {
	content: "\e64d";
}
.icon-imaginaire_non_id:before {
	content: "\e64e";
}
.icon-imaginaire:before {
	content: "\e64f";
}
.icon-inconnu:before {
	content: "\e650";
}
.icon-joie:before {
	content: "\e651";
}
.icon-lucide:before {
	content: "\e653";
}
.icon-maison:before {
	content: "\e654";
}
.icon-memoriser:before {
	content: "\e655";
}
.icon-menu:before {
	content: "\e656";
}
.icon-micro:before {
	content: "\e657";
}
.icon-monstre:before {
	content: "\e658";
}
.icon-mouvement:before {
	content: "\e659";
}
.icon-non-identifie:before {
	content: "\e65a";
}
.icon-ok:before {
	content: "\e65b";
}
.icon-ovni:before {
	content: "\e65c";
}
.icon-pause:before {
	content: "\e65d";
}
.icon-peur:before {
	content: "\e65e";
}
.icon-play:before {
	content: "\e65f";
}
.icon-plume:before {
	content: "\e660";
}
.icon-poil:before {
	content: "\e661";
}
.icon-psychologie:before {
	content: "\e662";
}
.icon-public:before {
	content: "\e663";
}
.icon-question:before {
	content: "\e664";
}
.icon-reload:before {
	content: "\e665";
}
.icon-reve:before {
	content: "\e666";
}
.icon-rural:before {
	content: "\e667";
}
.icon-star:before {
	content: "\e668";
}
.icon-surpris:before {
	content: "\e669";
}
.icon-toi:before {
	content: "\e66a";
}
.icon-transport:before {
	content: "\e66b";
}
.icon-travail:before {
	content: "\e66c";
}
.icon-triste:before {
	content: "\e66d";
}
.icon-urbain:before {
	content: "\e66e";
}
.icon-vacances:before {
	content: "\e66f";
}
.icon-visualiser:before {
	content: "\e670";
}
